# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# env files & logs
.env
.env.production
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
